<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payp Landing Page</title>
  <link rel="stylesheet" href="css/styles.css">  </head>
<body>
  <div class="navigation">  
    <a href="#Home">Home</a>
    <a href="">About</a>  <a href="/login">Sign In</a>
    <a href="/register">Register</a>
  </div>
  <div class="hero-section">  
      <h1>Wanna send, receive and get paid?</h1>
      <h2>Payp gets you covered, try now</h2>
      <button onclick="window.location.href='/login'">Get Wallet</button>
      <button>Talk to us</button>
  </div>
</body>
</html>